<h1>Account Info:</h1>
<p>ID: <%= user.id %></p>
<p>Display Name: <%= user.displayName %></p>
<p>Family Name: <%= user.name.familyName %></p>
<p>Given Name: <%= user.name.givenName %></p>
<p><img src="<%= user.photos[0].value %>"></img></p>
<p>Provider: <%= user.provider %></p>
<p>Email account: <%= user.emails[0].value %></p>

